@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Outfit";
  color: rgb(27, 26, 26);
  font-size: large;
}
.flexContainer {
  display: flex;
  flex-direction: column;
}

.Top {
  display:flex;
  align-items: center;
}

.Banner {
  display: flex;
}

.algoContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.algoSection {
  display: flex;
  flex: 1;
  align-items: center;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 30px;
  border-bottom: 2px dotted black;
}

.Title {
  margin: 10px;

  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;

  color: #000000;
}

.navbar {
  position: relative;
  left:110px;
  background-color: rgba(20, 220, 210, 0.51);
  border-radius: 30px;
  padding: 5px;
  display:flex;
  align-items: center;
  min-width: 1400px;
  height: 50px;
  margin:10px;
  justify-content: space-between;
  box-shadow:10px 10px 5px #00000042;
  
}

.navbar a {
  color: #333;
  font-size: 23px;
  margin: 8px;
  width: 16%;
  font-weight: bold;
  text-decoration: none;
  padding: 6px;
  display: inline;
  border-right: 1px solid #000000;
}

.navbar a:last-child {
  border-right: none;
}

.navbar a:hover {
  color: #968c8c;
  text-decoration: underline;
}

.bannerText {
  /*min-width: 600px;*/
  width: 500px;
  position: relative;
  left: 2%;
  right: 80.64%;
  top: 20.21%;
  bottom: 76.9%;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 1000;
  font-size: 70px;
  line-height: 60px;
  text-transform: capitalize;
  filter: drop-shadow(0 0 0.4rem #14dcd2c7);

  letter-spacing: 2px;
}

.bannerSubText, .algoDescription {
  position: relative;
  top: 30%;


  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 28px;
  /* or 106% */

  text-decoration-line: underline;
  filter: drop-shadow(0 0 0.4rem rgba(20, 220, 210, 0.781));

  color: #000000;
}

.bannerImage {
  width: 45%;
  height: auto;
  position: static;
  right: 5%;
  margin: 30px;
  opacity: 0.95;
  border-radius: 20px;
  filter: drop-shadow(0 0 2rem rgba(20, 220, 210, 0.781));
  flex: 1;
}

.logo {
  width: 200px;
  height: auto;
  position: static;
  right: 5%;
  margin: 30px;
  filter: drop-shadow(0 0 2rem rgba(20, 220, 210, 0.781));
}

.algoStartTitle {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 28px;
  margin-top: 50px;
  /* or 106% */

  text-decoration-line: underline;
  filter: drop-shadow(0 0 0.4rem rgba(20, 220, 210, 0.781));

  color: #000000;
}

.algoTitle {
  text-align:center;
  font-size:40px;
  font-weight:bold;
  text-decoration-line:underline;
  filter: drop-shadow(0 0 0.4rem rgba(20, 220, 210, 0.781));
}

.button-87 {
  margin: 5px;
  padding: 10px 30px;
  text-align: center;
  text-decoration-line: none;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 40px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #19d3f0;
  background-image: linear-gradient(45deg, #2fff93 0%, #1961f0  51%, #2fdcff  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}

.algoScreenshot {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 500px;
  margin: 10px;

}