@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Outfit";
  color: rgb(27, 26, 26);
  font-size: large;
}
.flexContainer {
  display: flex;
  flex-direction: column;
}

.Top {
  display:flex;
  align-items: center;
}

.Banner {
  display: flex;
}

.algoContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.algoSection {
  display: flex;
  flex: 1;
  align-items: center;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 30px;
  border-bottom: 2px dotted black;
}

.Title {
  margin: 10px;

  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;

  color: #000000;
}

.navbar {
  position: relative;
  left:110px;
  background-color: #70f1cb8e;
  border-radius: 30px;
  padding: 5px;
  display:flex;
  align-items: center;
  min-width: 1400px;
  height: 50px;
  margin:10px;
  justify-content: space-between;
  box-shadow:10px 10px 5px #00000042;
  
}

.navbar a {
  color: #333;
  font-size: 23px;
  margin: 8px;
  width: 16%;
  font-weight: bold;
  text-decoration: none;
  padding: 6px;
  display: inline;
  border-right: 1px solid #000000;
}

.navbar a:last-child {
  border-right: none;
}

.navbar a:hover {
  color: #968c8c;
  text-decoration: underline;
}

.bannerText {
  /*min-width: 600px;*/
  width: 500px;
  position: relative;
  left: 2%;
  right: 80.64%;
  top: 20.21%;
  bottom: 76.9%;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 1000;
  font-size: 70px;
  line-height: 60px;
  text-transform: capitalize;
  filter: drop-shadow(0 0 0.4rem rgba(20, 220, 210, 0.781));

  letter-spacing: 2px;
}

.bannerSubText, .algoDescription {
  position: relative;
  top: 30%;


  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 28px;
  /* or 106% */

  text-decoration-line: underline;
  filter: drop-shadow(0 0 0.4rem rgba(20, 220, 210, 0.781));

  color: #000000;
}

.bannerImage {
  width: 45%;
  height: auto;
  position: static;
  right: 5%;
  margin: 30px;
  opacity: 0.95;
  border-radius: 20px;
  filter: drop-shadow(0 0 2rem rgba(20, 220, 210, 0.781));
  flex: 1;
}

.algoStartTitle {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 28px;
  margin-top: 50px;
  /* or 106% */

  text-decoration-line: underline;
  filter: drop-shadow(0 0 0.4rem rgba(20, 220, 210, 0.781));

  color: #000000;
}

.algoSearchBtn {
  position: relative;
  
  width:fit-content;
  height: fit-content;
  border-radius: 20px;
  /* Buttons */
  
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 27px;
  /* or 142% */
  
  text-align: center;
  text-decoration-line: underline;
  text-transform: capitalize;
  
  color: #000000;
}

.algoSearchBtn:hover {
  color: #f50000;
}
